# This is the 'productive' ori deployment

services:

  # Http entry point, dispatches to webapps and adds https
  traefik:
    image: traefik:v2.11
    restart: unless-stopped
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.le.acme.httpchallenge=true"
      - "--certificatesresolvers.le.acme.httpchallenge.entrypoint=web"
      - "--certificatesresolvers.le.acme.email=benjamin.koeppchen@triplet.gmbh"
      - "--certificatesresolvers.le.acme.storage=/letsencrypt/acme.json"
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - ori
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "traefik:/letsencrypt"

  # the actual application
  ori:
    image: docker.ori.triplet.gmbh/ori:${ORI_VERSION}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hello.rule=Host(`ori.triplet.gmbh`)"
      - "traefik.http.routers.hello.entrypoints=websecure"
      - "traefik.http.routers.hello.tls.certresolver=le"
      - "traefik.http.services.hello.loadbalancer.server.port=8023"
    restart: unless-stopped
    environment:
      MONGO_HOSTNAME: 'mongo'
      MONGO_PORT: '27017'
      MONGO_DATABASE: 'ori'
      MONGO_USERNAME: 'ori'
      MONGO_PASSWORD: "${SECRET_MONGO_PASSWORD}"
    depends_on:
      - mongo

  # database for ori
  mongo:
    image: mongo:6
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ori
      MONGO_INITDB_ROOT_PASSWORD: "${SECRET_MONGO_PASSWORD}"
    volumes:
      - mongo_data:/data/db


  mongo-express:
    image: mongo-express
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mongo-express.rule=Host(`mongo-express.ori.triplet.gmbh`)"
      - "traefik.http.routers.mongo-express.entrypoints=websecure"
      - "traefik.http.routers.mongo-express.tls.certresolver=le"
      - "traefik.http.services.mongo-express.loadbalancer.server.port=8081"

    container_name: mongo-express
    restart: unless-stopped
    # ports:
    #   - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ori
      ME_CONFIG_MONGODB_ADMINPASSWORD: "${SECRET_MONGO_PASSWORD}"
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: ${SECRET_MONGOEXPRESS_PASSWORD}

    depends_on:
      - mongo

  # docker registry, to keep things separated
  registry:
    image: docker.io/library/registry:3
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.registry.rule=Host(`docker.ori.triplet.gmbh`)"
      - "traefik.http.routers.registry.entrypoints=websecure"
      - "traefik.http.routers.registry.tls.certresolver=le"
      - "traefik.http.services.registry.loadbalancer.server.port=5000"
    restart: always
    environment:
      USERNAME: registry
      PASSWORD: "${SECRET_REGISTRY_PASSWORD}"
    volumes:
      - registry:/var/lib/registry

volumes:
  mongo_data:
  registry:
  traefik: