version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: ori
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ori
      MONGO_INITDB_ROOT_PASSWORD: ori
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: unless-stopped
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ori
      ME_CONFIG_MONGODB_ADMINPASSWORD: ori
      ME_CONFIG_MONGODB_SERVER: mongo
    depends_on:
      - mongo

volumes:
  mongo_data:
