- name: Ensure Docker runs correct images
  hosts: main
  become: true

  environment:
    ORI_VERSION: "{{ lookup('env','ORI_VERSION') }}"

  tasks:

    - name: "Login to local repo"
      shell:
        cmd: ". /root/docker-compose.env && echo $SECRET_REGISTRY_PASSWORD | docker login docker.ori.triplet.gmbh -u 'registry' --password-stdin"

    - name: "Create Compose File"
      copy:
        dest: /root/docker-compose.yaml
        src: ../../docker-compose.yaml

    - name: "Update Docker Compose"
      shell:
        chdir: /root
        cmd: ". /root/docker-compose.env && docker compose up --detach --remove-orphans"

    - name: "Prune"
      shell:
        cmd: "docker image prune --all -f"